[Unit]
Description=FoxyBot for Discord.JS
# Requires the mysql service to run first
Requires=my-mariadb.service
Wants=local-fs.target network.target my-mariadb.service
After=local-fs.target network.target my-mariadb.service

[Service]
ExecStart=/usr/bin/node --max-old-space-size=256 --expose-gc /home/vitaly/_Bots/FoxyBotJrDiscord/foxy.js
WorkingDirectory=/home/vitaly/_Bots/FoxyBotJrDiscord
Type=notify
KillMode=process
WatchdogSec=5
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=discord-foxybot
User=vitaly
Group=vitaly
Environment=NODE_ENV=discordfoxybot

[Install]
WantedBy=multi-user.target

