[Unit]
Description=FoxyBot for Discord.JS
# Requires=After=redis.service # Redis wasn't used yet

[Service]
ExecStart=/home/vitaly/_Bots/FoxyBotJrDiscord/server.sh
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=haste-server
User=vitaly
Group=vitaly
Environment=NODE_ENV=discordfoxybot

[Install]
WantedBy=multi-user.target
