[Unit]
Description=FoxyBot for Discord.JS
# Requires the mysql service to run first
Requires=my-mariadb.service
After=my-mariadb.service

[Service]
ExecStart=/home/vitaly/_Bots/FoxyBotJrDiscord/server.sh
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
# Output to syslog
StandardError=syslog
SyslogIdentifier=discord-foxybot
User=vitaly
Group=vitaly
Environment=NODE_ENV=discordfoxybot

[Install]
WantedBy=multi-user.target
