{
    "prefix" : "/foxy",
    "myboss" : ["<Array if IDs include yourself>"],
    "pessimists" : [],
    "modsRole" : "<ID of your chat server moderator's role>",
    "modsRoles" : ["<List of IDs of your chat server moderator's role>"],
    "defaultChannel" : ["216229325484064768", "218194030662647809"],
    "token" : "<your bot's token here!>",
    "pop" : {
        "disabled" : true,
        "host" : "mailserver.ru",
        "port" : "110",
        "login" : "mybotmailbox@server.ru",
        "pass" : "superpassword"
    },
    "smtp" : {
        "disabled" : true,
        "login" : "smtps://mybotmailbox%40server.ru:superpassword@mailserver.ru",
        "from" : "\"FoxyBot on Discord\" <mybotmailbox@server.ru>",
        "to" : "theadmin@server.ru"
    },
    "mysql" : {
        "disabled" : true,
        "host" : "127.0.0.1",
        "db" : "<database>",
        "user" : "<user>",
        "password" : "<password>"
    },
    "trdisabled" : true,
    "trkey" : "<API key for Yandex Translator, get it here: https://tech.yandex.ru/translate/ >"
}
